html {
    min-height: 100%;
    position: relative
}

body {
  font-family: georgia, arial, helvetica, sans-serif;
  font-size: 0.9em;
  line-height: 1.3em;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #aaa;  
}

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0 0 6px 0;
}

#inventoryContainer {
  float: left;
  width: 20%;
  min-width: 250px;
  height: 100%;
}

#middle {
  margin: 0;
  height: calc(100% - 20px);
  padding: 10px;
  overflow: auto;
}

#world {
  empty-cells: show;
  border-spacing: 1px;
  border-collapse: separate;
}

#world td {
	padding: 0px;
  width: 32px;
  height: 32px;
  min-width: 32px;
  min-height: 32px;
  vertical-align: top;
  background: url('../images/World.png');
}

#world td.coords {
  font-size: 0.8em;
  text-align: center;
  vertical-align: middle;
  background: none;
}

#world td.coords.active {
  font-weight: bold;
  box-shadow: inset 0 0 0 1px #666;
}

#world td.highlight {
  box-shadow: inset 0 0 8px 0px #000;
}

#buttons {
  margin-left: 34px;
}

#tileContainer {
  display: none;
}

table.tile {
  display: none;
  width: 128px;
  height: 128px;
  empty-cells: show;
  border-spacing: 1px;
  border-collapse: separate;
  table-layout: fixed;
}

table.tile td {
  padding: 0px;
  width: 24;
  height: 24;
  min-width: 24;
  min-height: 24;
  vertical-align: top;
}

table.tile td.active {
  box-shadow: inset 0 0 0px 1px #fff;
}

table.tile td.shadowTopLeft
{
  box-shadow: inset 4px 4px 2px 0px #000;
}

table.tile td.shadowTop
{
  box-shadow: inset 0px 4px 2px 0px #000;
}

table.tile td.shadowTopRight
{
  box-shadow: inset -4px 4px 2px 0px #000;
}

table.tile td.shadowLeft
{
  box-shadow: inset 4px 0px 2px 0px #000;
}

table.tile td.shadowRight
{
  box-shadow: inset -4px 0px 2px 0px #000;
}

table.tile td.shadowBottomLeft
{
  box-shadow: inset 4px -4px 2px 0px #000;
}

table.tile td.shadowBottom
{
  box-shadow: inset 0px -4px 2px 0px #000;
}

table.tile td.shadowBottomRight
{
  box-shadow: inset -4px -4px 2px 0px #000;
}

table.tile td.deep div {
  background-color: #000;
  height: 100%;
  opacity: 0.2;
}

table.tile td.deep {
  filter: blur(1px) brightness(0.75);
  -webkit-filter: blur(1px) brightness(0.75);
  -o-filter: blur(1px) brightness(0.75);
  -ms-filter: blur(1px) brightness(0.75);
}

#player {
  position: absolute;
  z-index: 2;
}

#itemsContainer {
  float: right;
  width: 20%;
  min-width: 250px;
  height: 100%;
}

#itemList {
  overflow-y: auto;
  height: calc(100% - 20px);
}

img.item {
  margin: 4px;
}

.window {
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #333;
  border-right: 3px solid #333;
  background-color: #c6c6c6;
  box-shadow: 4px 4px 8px #666;
  height: calc(100% - 50px);
  margin: 5px;
  padding: 12px;
}

button {
  height: 40px;
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
  box-shadow: 0px 0px 8px #666;
  border: 1px solid #666;
  margin: 8px 8px 8px 0;
}